@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f0eb;
  --foreground: #1a1a2e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: #c9a96e;
  color: #1a1a2e;
}
